/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

.signup {
  font-size: 14;
  margin: 20px 20px 20px 20px;
  background-color: #AFC5FF;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

label {
  display: block; 
  margin-bottom: 20px;
}

.grid-parent { 
  display:grid;
  grid-template-areas:
  "grid-header grid-header grid-header grid-header"
  "signup signup grid-accordion grid-accordion"
}

.grid-header{
  grid-area: grid-header;
}

.signup {
  grid-area: signup;
}

.grid-accordion{
  grid-area: grid-accordion;
}